nav {
  height: 100px;
  box-sizing: border-box;
  margin-top: 100px;
  margin-left: 300px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.options {
  width: 90%;
  flex: 1;
  display: flex;
  align-items: baseline;
  padding: 5px;
}

.checkbox {
  flex: 1;
  align-self: center;
  display: flex;
  justify-content: center;
}

label {
  padding: 10px;
}

.image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  padding: 20px;
}

img {
  width: 50px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

@media only screen and (max-width: 1024px) {
  nav {
    margin-left: 0;
    margin-top: 225px;
  }

  label{
    padding: 0;
  }

  .options{
    padding: 5px;
  }

  

  .checkbox{
    flex-direction: column;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 576px){
  nav{
    margin-top: 175px;
  }
}
