<div class="product">
  <div class="image">
    <img src="{{ product.image }}" alt="image">
  </div>
  <div class="details">
    <div class="name">
      <h5>{{ product.name }}</h5>
      <div class="tags">
        <a class="text-info" *ngFor="let tag of product.tags">#{{ tag }}</a>
      </div>
    </div>
    <p>{{ product.description }}</p>
    <div class="price">
      <p>Τιμή: {{ product.price }} <i class="fas fa-euro-sign"></i></p>
      <button class="btn btn-info zoom" (click)="add(product)">Προσθήκη</button>
    </div>
  </div>
</div>